  
body{position: relative;
  width: 75%;
  margin: 0 auto;
}
/*----------- HEADER -------- */
header{
  position: relative;
}
#delicious{
  font-family: 'Lobster', cursive;
  font-size: 35px;
  margin: 0;
  font-style: italic;
}
#underLogo{
  font-size: 10px;
  margin: 0;
}
#logoSec{
  float: left;
  width: 50%;
  margin:10px auto 20px auto;
}
#logoSec div{
  display: inline-block;
margin-top: 2px;
line-height: 10px;
}

#rightSec{
  margin-top: 22px;
  float: right;
  width: 50%;
  text-align: right;
}
#rightSec ul:first-child{
  margin-right: 10px;
}
#rightSec ul{
  display: inline
}
#rightSec ul li{
  display: inline-block;
  
}
.hrImg
{
clear: both;
display:block;
border:none;
height:10px;
background-image:url('Images/hr-img.png');
} 
/* -------------------------------------- */
/* MAIN */
main{
  position: relative;
}
#topMain div P{
  font-size: 13PX;
  color: gray;
  margin-top: 10px;
}
#topMain div h1{
  font-size: 35px;
  font-weight: bold;
  font-family: 'Viga', sans-serif;
}
#topMain div:last-child{
  text-align: right;
  float: right;
  width: 50%;
  margin-top: 30px;
  color: gray;
  font-size: 12PX;
}


#topMain div:first-child{
  float: left;
  width: 50%;
}
#topMain{
  margin-top: 30px;
}
article div img{
  
  width:100%;
  height: 530px;
  margin-top: 20px;
  margin-bottom: 20px;
}
article div p{
  font-size: 20px;
  margin-bottom: 25px;
}


#recipe {
  background-image:url(./Images/list-bg.png);
  background-position:left;
  width:inherit;

  box-shadow:4px 7px 5px rgb(221, 218, 218) ;
}
fieldset div:first-child {
  float: left;
  width: 50%;
  
}
fieldset div:last-child {
  float: right;
  width: 50%;    
}
fieldset div input{
  margin-left: 0px;
}
fieldset div{
  margin-top: 30px;
  margin-bottom: 25px;
}
fieldset div *{
  margin-top:10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(88, 87, 87);
}
#leftRecipe input{
  margin-left: 35px;
}
#rghtRecipe input{
  margin-left: -10px;
}
#endDiv {
display:inline-flex ;
}
#endDiv div{
margin-right: 25px;
}
#endDiv div p{
  line-height: 25px;
}

#endDiv div h3{
font-size: 20px;
font-weight: bold;
margin-bottom: 15px;
}
#endDiv div input{
  height:50px;
  margin-top: 15px;
  color: white;
  background-color: rgb(114, 67, 5);
  width: 175px;
}
footer{
  text-align: center;
  width: 100%;
}
footer div{
  width:100%;

}
footer div hr{
  margin: auto;
  display: inline-block;
  text-align: center;
  width:100%;
  
  border-style: inset;
}
footer div{
  display: inline-flex;
}
#copyRights {
  margin-top: -20px;
  margin-bottom: 10px;
  display: block;
  color: grey;
  
}
.in1{
    text-decoration: line-through;
    font-size: 17px;
  }

.in2{
  text-decoration: line-through;
}
/* #header{
    font-family: 'Lobster' ;
  
}
body{
    margin: auto 20%;
}
.main{
    float:left;
    margin-right: 70%;
}
#footer{
    font-size: xx-small;
    margin-top: 40px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgray;
}
#choco-pizza{
    margin: 0 auto;
}
h2{
    position: relative;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }


.top-left {
    padding-top: 10px;
    font-size: 20px;
    text-align: justify;
  
    position: absolute;
    top: 8px;
    left: 50px;
    color: black;
  }

  .in1{
    text-decoration: line-through;
    margin-right: 50px;
  }
  #img3{
      display: inline;
  }
  #img{
    
    width: 905px;
    height: 10px;
    margin-top: 32px;
    background-image:url(Images/hr-img.png) ;
    display:inline;
  }
  #img2{
    width: 905px;
    height: 10px;
    margin-top: 32px;
    background-image:url(Images/hr-img.png) ;
    display:inline;
  }
  #Food{
      margin-top: -15px;
      color: gray;
      font-size: large;
  }
  #cho{
    font-family: 'Lobster';
    font-family: 'Francois One' ;
  }
  #p3{
      font-size: x-small;
      margin-top: -23px;
      color: darkgrey;
  }
  #Vane{
    margin-left: 100px;
    margin-top: -16px;
  }
.p1{
    margin: 20px;
    float: left;
}
#pp{
    color: grey;
}
#ppp{
    color: grey;
}
#pppp{
    color: gray;
}

  .para{
      margin-top: -22px;
      font-size: XX-SMALL;
      color: darkgrey;
  }
  .in2{
    text-decoration: line-through;
  }

  #space{
      margin-right: 15px;
  }
  
.top-right {
    padding-top: 10px;
    font-size: 20px;
    text-align: justify;
    
    position: absolute;
    top: 8px;
    right: 50px;
    color: black;
  
  }
  .ul{

    display: inline-block
  }
  .van{
      float: left;
      margin-top: 48px;
  }
  .icon{
      float:right;
  }
  .head{
      float: left;
  }

  .checked {
    margin-left: 25px;
    border: 1px solid blue;
  }

 .button {
     background-color: rgb(117, 43, 0);
     color:lightgray;
     padding: 15px;
     float: right;
     margin-top: -68px;
     margin-right: -87px;

  }

  #li1{
    clear: both;
    
  }
  #li2{
    margin-inline: 17px;
      clear:both;
      margin-left: 50%;
  }
  #li3{
    margin-top: -20px;
    clear: both;
  }


  #twit{
      float:right;
      margin-top: 32px;
      position: relative;
  }

  #tex{
float: right;
position: relative;
margin-top: 32px;
color:gray ;
  }

#hrimg{
  
} */